body {
    font-family: "Lato", sans-serif;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}




.sidenav {
	height: 100%;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
	border: none;
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;
	font: "Lato", sans-serif;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	-webkit-transition: background 2s; /* For Safari 3.0 to 6.0 */
	transition: background 2s;
}

.sidenav:hover{
	background: #3cc16e;
}


.main {
    padding: 0px 10px;
    
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 55%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 40%;
    }

    .register-form{
        margin-top: 40%;
        
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

